@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mystery-mixed";
    src: url(../../public/fonts/Mystery-Mixed-Regular.otf);
  }
  @font-face {
    font-family: "ms-gothic";
    src: url(../../public/fonts/ms-pgothic-Nueva.ttf);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item:first-child {
  display: flex;
  justify-items: flex-end;
}
.item:last-child {
  display: flex;
  justify-items: flex-start;
}
