@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mystery-mixed";
    src: url(../../public/fonts/Mystery-Mixed-Regular.otf);
  }
  @font-face {
    font-family: "ms-gothic";
    src: url(../../public/fonts/ms-pgothic-Nueva.ttf);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../../public/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
} 


